# ============================================================================
# POLITIQUE DE GOUVERNANCE — CODEOWNERS
# ============================================================================
# Ce fichier définit les équipes GitHub propriétaires de chaque répertoire.
# Toute modification d'un répertoire requiert obligatoirement l'approbation
# d'un membre de l'équipe associée avant merge.
# ============================================================================

# Règle globale par défaut (Administrateurs de l'Organisation)
* @MonEntreprise2-0/admins

# ----------------------------------------------------------------------------
# Propriétaires par Application (Mise à jour automatique par le Scénario B)
# ----------------------------------------------------------------------------
/declaration/CAT-catalogue-test-v1/ @MonEntreprise2-0/admins
/declaration/CAT-catalogue-test-v2/ @MonEntreprise2-0/admins
/declaration/CAT-cat-test03/ @MonEntreprise2-0/admins

/declaration/CAT-private-credit/ @MonEntreprise2-0/dev

/declaration/CAT-private-test/ @MonEntreprise2-0/dev

/declaration/CAT-test-import-entraid/ @MonEntreprise2-0/admins

/declaration/CAT-test-import/ @MonEntreprise2-0/admins

/declaration/CAT-private-test-correction/ @MonEntreprise2-0/dev

/declaration/CAT-test-import2/ @MonEntreprise2-0/admins

/declaration/CAT-test_sans_teraform/ @MonEntreprise2-0/admins

/declaration/CAT-sans_teraform_test/ @MonEntreprise2-0/admins
